.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-control {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.form-control-age {
  align-self: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

.form-control-age input {
  width: 3rem;
  border: none;
  border-bottom: 1px solid red;
  display: flex;
  padding: .5rem;
}